CMakeLists.txt.user
bin/
build/
!.github/actions/cmake/build
*.app/
cmake-build*/
*.pkg
.DS_Store
.*
!.gitignore
!.github
*.o
*.pro.*
Makefile
Makefile.*
moc_*
ui_*
qrc_*
.firmware
ckb-dev-detect-report.gz
ckb-next-dev-detect-report.gz
macos/pkgproj/build
