<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!-- set this to false if you want the app to always be in the Dock -->
        <key>LSUIElement</key>
        <true/>
        <!-- -->
        <key>CFAppleHelpAnchor</key>
        <string></string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleDisplayName</key>
        <string>ckb-next</string>
        <key>CFBundleExecutable</key>
        <string>ckb-next</string>
        <key>CFBundleGetInfoString</key>
        <string>ckb-next - version 0.2.8-5-g9e8fc17</string>
        <key>CFBundleIconFile</key>
        <string>ckb-next.icns</string>
        <key>CFBundleIdentifier</key>
        <string>org.ckb-next</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleLongVersionString</key>
        <string>0.2.8-5-g9e8fc17</string>
        <key>CFBundleName</key>
        <string>ckb-next</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>0.2.8</string>
        <key>CFBundleSignature</key>
        <string>ckbn</string>
        <key>CFBundleVersion</key>
        <string>0.2.8-5-g9e8fc17</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.9.0</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>NSHumanReadableCopyright</key>
        <string>Copyright © 2014-2016 ccMSC
Copyright © 2017 ckb-next dev. team</string>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Applications/ckb-next.app/Contents/MacOS/ckb-next</string>
            <!-- <string> - - background</string> -->
        </array>
        <key>KeepAlive</key>
        <dict>
            <key>SuccessfulExit</key>
            <false/>
        </dict>
        <!-- comment this out if you don't want to log anything -->
        <key>StandardOutPath</key>
        <string>/var/log/ckb-next-daemon.log</string>
        <key>StandardErrorPath</key>
        <string>/var/log/ckb-next-daemon.log</string>
        <!-- -->
    </dict>
</plist>
