[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=CKB Next
Comment=Corsair keyboard driver user interface
Exec=ckb-next --background
Icon=ckb-next.png
StartupNotify=true
