[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=ckb
Comment=Corsair keyboard driver user interface
Exec=ckb --background
Icon=/usr/share/icons/hicolor/512x512/apps/ckb.png
