<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.ckb-next.daemon</string>
    <key>Disabled</key>
    <false/>
    <key>KeepAlive</key>
    <false/>
    <key>ProgramArguments</key>
    <array>
      <string>/Library/Application Support/ckb-next-daemon</string>
      <string>--request-hid-permission-because-it-doesnt-work-as-root-thanks-apple</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/tmp/org.ckb-next.daemon_agent.log</string>
  </dict>
</plist>
