<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.ckb-next.daemon</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Applications/ckb-next.app/Contents/Resources/ckb-next-daemon</string>
        </array>
        <key>KeepAlive</key>
        <true/>
        <key>ProcessType</key>
        <string>Interactive</string>
        <key>LegacyTimers</key>
        <true/>
        <!-- comment this out if you don't want to log anything -->
        <key>StandardOutPath</key>
        <string>/var/log/ckb-next-daemon.log</string>
        <key>StandardErrorPath</key>
        <string>/var/log/ckb-next-daemon.log</string>
        <!-- -->
    </dict>
</plist>
