[Unit]
Description=Corsair Keyboard Daemon

[Service]
ExecStart=/usr/bin/ckb-daemon
Restart=always
StandardOutput=syslog
StandardError=inherit

[Install]
WantedBy=multi-user.target
