Source: ckb-next
Section: utils
Priority: optional
Maintainer: David Meikle <david@meikle.io>
Build-Depends: debhelper (>= 9), libudev-dev, qtbase5-dev, qt5-qmake, cmake, zlib1g-dev, libappindicator-dev, libpulse-dev, dh-systemd
Standards-Version: 3.9.8
Homepage: https://github.com/ckb-next/ckb-next

Package: ckb-next
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5gui5, libqt5widgets5, libqt5core5a
Description: open-source driver for Cosair keyboard and mice
 ckb-next is an open-source driver for Corsair keyboards and mice. It aims to bring the features
 of their proprietary CUE software to the Linux and Mac operating systems. 

